fastapi
uvicorn[standard]
python-multipart
pydantic[email]
pydantic-settings
motor
python-dotenv
groq
httpx
requests
pytesseract
pillow
pdf2image
langchain-core
langchain-groq
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pdfplumber
opencv-python-headless
