fastapi
uvicorn[standard]
python-multipart
pydantic[email]
pydantic-settings
motor
python-dotenv
groq
httpx
pytesseract
pillow
pdf2image
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
spacy
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pdfplumber
opencv-python-headless
